/* wyzerowanie domyslnych wartosci */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
hr {display: none;}
img {display: block; border: 0;}

body {
background: #f1eaea;
font: 12px  'Pontano Sans', verdana, tahoma, arial, sans-serif; 
color: #c6a5a5;
}
div {
    position: relative;
}
.container {
width:1000px;
margin: 0 auto;
overflow: hidden;
}
a {
font: 12px  'Pontano Sans',tahoma, arial, sans-serif; 
text-decoration: none;
color: #4bb3cd;
}
a:visited {
}
a:hover {
color:#dec834;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}
a:active{
}

#bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#header #title {
display: block;
width: 187px;
height: 86px;
margin: 0 40px;
background: url(images/logo.png) no-repeat;
text-indent: -666em;
}
.menu {
	height:55px;
	margin:0 19%;
}
.menu ul li a {
	display:block;
	text-align:center;
	padding:10px 0;
    border: none;
    box-shadow: none;
    background: #ec313e;
    font-family:'Tahoma';
	font-size:18px;
	font-weight:thin;
	color:#fff;
	cursor:pointer;
	border-radius: 8px;
	float:left;
	margin:5px 10px;
	width:180px;
	height:25px;
}
.menu ul li a:hover {
	-webkit-box-shadow: inset 0px 0px 16px -0px rgba(0,0,0,0.36);
	-moz-box-shadow: inset 0px 0px 16px -0px rgba(0,0,0,0.36);
	box-shadow: inset 0px 0px 16px -0px rgba(0,0,0,0.36);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#content h1 {
	clear:both;
	font-family:'Voltaire';
	font-size:35px;
	font-weight:normal;
	color:#1caad8;
	margin:10px 39%;
	color:#2ccb30;
}
#content form  {
	margin:0 40%;
}
#content form h1 {
	font-family:'Voltaire';
	font-size:25px;
	font-weight:normal;
	color:#1caad8;
	margin:20px 0 10px 0;
}
#content form .sel {	
  	border: 1px solid #ccc;
    width: 160px;
    height:40px;
    border-radius: 8px;
    overflow: hidden;
    background: #fafafa url("images/icon.png") no-repeat 90% 50%;
 
}
#content form .sel select {
   padding: 8px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-family:'Tahoma';
	font-size:18px;
	font-weight:thin;
	color:#575757;
}
#content form input.start {
	margin-top:20px;
	margin-left:-20px;
	padding: 10px 60px;
    border: none;
    box-shadow: none;
    background: #ec313e;
    font-family:'Tahoma';
	font-size:18px;
	font-weight:thin;
	color:#fff;
	cursor:pointer;
}
#content form input.start:hover {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	background: #b42630;
}


.map {
position:relative;
margin:20px auto;
}
.square {
position:absolute;
-webkit-box-shadow: inset 0px 0px 6px -0px rgba(0,0,0,0.36);
-moz-box-shadow: inset 0px 0px 6px -0px rgba(0,0,0,0.36);
box-shadow: inset 0px 0px 6px -0px rgba(0,0,0,0.36);
}
.square.red {
background:#ca251c;
}
.square.green {
background:#4cb82f;
}
.square.pink {
background:#d75eb6;
}
.square.blue {
background:#48add8;
}
.square.black {
background:#080808;
}
.square.yellow {
background:#dbd520;
}
.square.brown {
background:#914814;
}
.panel {
	margin:0 auto;
}
.panel .stats p {
	float:left;
	font-size:18px;
	color:#363636;
	font-family:'Tahoma';
	margin-left:90px;
	font-weight:thin;
}
.panel ul {
	clear:both;
	margin-top:20px;
}
.panel ul li {
	display:block;
	text-align:center;
	padding:10px 0;
    border: none;
    box-shadow: none;
    background: #ec313e;
    font-family:'Tahoma';
	font-size:18px;
	font-weight:thin;
	color:#fff;
	cursor:pointer;
	border-radius: 8px;
	float:left;
	margin:5px 10px;
	width:180px;
	height:25px;
}
.panel ul li:hover {
	-webkit-box-shadow: inset 0px 0px 16px -0px rgba(0,0,0,0.36);
	-moz-box-shadow: inset 0px 0px 16px -0px rgba(0,0,0,0.36);
	box-shadow: inset 0px 0px 16px -0px rgba(0,0,0,0.36);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.panel ul li.red {
background:#ca251c;
}
.panel ul li.green {
background:#4cb82f;
}
.panel ul li.pink {
background:#d75eb6;
}
.panel ul li.blue {
background:#48add8;
}
.panel ul li.black {
background:#080808;
}
.panel ul li.yellow {
background:#dbd520;
}
.panel ul li.brown {
background:#914814;
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .1 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}