<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BattleOfColors</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>game</display-name>
    <servlet-name>game</servlet-name>
    <jsp-file>/game.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>game</servlet-name>
    <url-pattern>/game.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>statistics</display-name>
    <servlet-name>statistics</servlet-name>
    <jsp-file>/statistics.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>statistics</servlet-name>
    <url-pattern>/statistics.jsp</url-pattern>
  </servlet-mapping>

</web-app>
